<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Pro Item Sets", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Jorge Vergara</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        NameToKey = {
            "Thresh": "Thresh",
            "Aatrox": "Aatrox",
            "Tryndamere": "Tryndamere",
            "Gragas": "Gragas",
            "Cassiopeia": "Cassiopeia",
            "Poppy": "Poppy",
            "Ryze": "Ryze",
            "Sion": "Sion",
            "Annie": "Annie",
            "Karma": "Karma",
            "Nautilus": "Nautilus",
            "Lux": "Lux",
            "Ahri": "Ahri",
            "Olaf": "Olaf",
            "Viktor": "Viktor",
            "Anivia": "Anivia",
            "Garen": "Garen",
            "Singed": "Singed",
            "Lissandra": "Lissandra",
            "Maokai": "Maokai",
            "Morgana": "Morgana",
            "Evelynn": "Evelynn",
            "Fizz": "Fizz",
            "Zed": "Zed",
            "Heimerdinger": "Heimerdinger",
            "Rumble": "Rumble",
            "Mordekaiser": "Mordekaiser",
            "Sona": "Sona",
            "Katarina": "Katarina",
            "Kog'Maw": "KogMaw",
            "Ashe": "Ashe",
            "Lulu": "Lulu",
            "Karthus": "Karthus",
            "Alistar": "Alistar",
            "Darius": "Darius",
            "Vayne": "Vayne",
            "Varus": "Varus",
            "Udyr": "Udyr",
            "Jayce": "Jayce",
            "Leona": "Leona",
            "Syndra": "Syndra",
            "Pantheon": "Pantheon",
            "Kha'Zix": "Khazix",
            "Riven": "Riven",
            "Corki": "Corki",
            "Azir": "Azir",
            "Caitlyn": "Caitlyn",
            "Nidalee": "Nidalee",
            "Galio": "Galio",
            "Kennen": "Kennen",
            "Veigar": "Veigar",
            "Bard": "Bard",
            "Gnar": "Gnar",
            "Graves": "Graves",
            "Malzahar": "Malzahar",
            "Vi": "Vi",
            "Kayle": "Kayle",
            "Irelia": "Irelia",
            "Lee Sin": "LeeSin",
            "Elise": "Elise",
            "Volibear": "Volibear",
            "Nunu": "Nunu",
            "Twisted Fate": "TwistedFate",
            "Jax": "Jax",
            "Shyvana": "Shyvana",
            "Kalista": "Kalista",
            "Dr. Mundo": "DrMundo",
            "Tahm Kench": "TahmKench",
            "Brand": "Brand",
            "Diana": "Diana",
            "Sejuani": "Sejuani",
            "Vladimir": "Vladimir",
            "Zac": "Zac",
            "Rek'Sai": "RekSai",
            "Quinn": "Quinn",
            "Akali": "Akali",
            "Tristana": "Tristana",
            "Hecarim": "Hecarim",
            "Sivir": "Sivir",
            "Lucian": "Lucian",
            "Rengar": "Rengar",
            "Warwick": "Warwick",
            "Skarner": "Skarner",
            "Malphite": "Malphite",
            "Yasuo": "Yasuo",
            "Xerath": "Xerath",
            "Teemo": "Teemo",
            "Nasus": "Nasus",
            "Renekton": "Renekton",
            "Draven": "Draven",
            "Shaco": "Shaco",
            "Swain": "Swain",
            "Ziggs": "Ziggs",
            "Talon": "Talon",
            "Janna": "Janna",
            "Ekko": "Ekko",
            "Orianna": "Orianna",
            "Fiddlesticks": "FiddleSticks",
            "Fiora": "Fiora",
            "Cho'Gath": "Chogath",
            "Rammus": "Rammus",
            "LeBlanc": "Leblanc",
            "Zilean": "Zilean",
            "Soraka": "Soraka",
            "Nocturne": "Nocturne",
            "Jinx": "Jinx",
            "Yorick": "Yorick",
            "Urgot": "Urgot",
            "Miss Fortune": "MissFortune",
            "Wukong": "MonkeyKing",
            "Blitzcrank": "Blitzcrank",
            "Shen": "Shen",
            "Braum": "Braum",
            "Xin Zhao": "XinZhao",
            "Twitch": "Twitch",
            "Master Yi": "MasterYi",
            "Taric": "Taric",
            "Amumu": "Amumu",
            "Gangplank": "Gangplank",
            "Trundle": "Trundle",
            "Kassadin": "Kassadin",
            "Vel'Koz": "Velkoz",
            "Zyra": "Zyra",
            "Nami": "Nami",
            "Jarvan IV": "JarvanIV",
            "Ezreal": "Ezreal",
        }

        jQuery(document).ready(function ($) {
            $("#GetItemSetButton").click(function () {
                var summonerName = document.getElementById("SummonerName").value;
                var championName = document.getElementById("ChampionName").value;
                $.ajax({
                    url: "GetItemSetJson/" + summonerName + "/" + championName
                }).success(function (data) {
                    var viewArea = document.getElementById("JsonViewArea");
                    viewArea.innerText = data;

                    var directionArea = document.getElementById("Directions");
                    var folderName = NameToKey[championName];
                    directionArea.innerText = "Put this in a file named: " + summonerName + "_" + championName + ".json in the folder:\n League of Legends\\Config\\Champions\\" + folderName + "\\Recommended\\"
                }).error(function (a, b, c) {
                    var viewArea = document.getElementById("JsonViewArea");
                    viewArea.innerText = "This summoner has not played this champion enough!";
                });
            })
        });
    </script>
</body>
</html>